*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Bellota Text', cursive;
    font-family: 'Poiret One', cursive;
    --principalColor: #582E29;
}

  a:link, a:visited, a:active {
    text-decoration:none;
}


h1{
    font-size: 50px;
    color:var(--principalColor);
    font-family: 'Poiret One';
}

h2{
    font-size: 2vw;
    color:var(--principalColor);
    font-family: 'Bellota Text';
    font-weight: 700;
}

p{
    font-size: 1.45vw;
    font-family: 'Poiret One';
    color:var(--principalColor);
}


/* INDEX *//* INDEX *//* INDEX */
/* INDEX *//* INDEX *//* INDEX */
/* INDEX *//* INDEX *//* INDEX */

.bkg{
    background: url(../Assets/Imagenes/fondoIndex.jpg) center fixed;
    background-size: cover;
    background-color: #464646;
    background-position-y: 35%;
    width: 100%;
    height: 100vh;
}

.logo {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 20vw;
}

.icons{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.icons a img{
    width: 3vh;
    margin: 30px 30px;
}

.terminos{
    display: flex;
    justify-content: center;
    margin:0 100px;
}




  /* HOME */ /* HOME */ /* HOME */
  /* HOME */ /* HOME */ /* HOME */
  /* HOME */ /* HOME */ /* HOME */

.containHome{
    background: url(../Assets/Imagenes/fondoPortada.jpg)no-repeat center center fixed;
  /*   opacity: 0.9; */
    background-size: cover;
    background-color: var(--principalColor);
    width: 100%;
    height: 100vh;
}

.navBar{
    background-color:rgba(255, 255, 255, 0.5);
    padding:0 4vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: fixed;
    width:100%;
    z-index: 2;

}
.logoNavBar{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.logoNavBar img{
    width: 3vw;
}

.listMenu{
    display: flex;
    align-items: center;
}

.elementMenu{
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    padding: 0 10px;
    color:var(--principalColor);
    font-size: 1.35vw;
    cursor: pointer;
}
    .elementMenu:hover{
        font-weight: 900;
    }

.elementColor{
    background-color: #582e29ce;
    color: white;
    border-radius: 10px;
    padding:5px 10px;
    font-weight: 700;
}
    .elementColor:hover{
        background-color: #F0D3D6;
        border: 1px solid var(--principalColor);
        border-radius: 10px;
        color: var(--principalColor);
    }


.logoPage{
    display: flex;
    justify-content: center;
}
.logoPage img{
    width: 20vw;
    margin-top: 6vw;
}

.containService{
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containService a{
    width: 20%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    margin: 0px 30px;
    text-align: center;
    z-index: 1;
    
}
    .containService a:hover{
        background-color: #ffffff;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
        border-radius: 10px;
    }

.t0{
    margin: 10px 0;
}

.t1{
    padding: 0 20px;
    font-weight: bold;

}

.newsletter{
    margin-top: 40px;
    background: linear-gradient(#ffffffd9, #ffffffd9), url(../Assets/Imagenes/M-J04305.jpg) no-repeat center center ;
    background-size: cover;
    height: 40vh;
    text-align: center;
}

.textNews{
    padding: 30px 0;
}

.changeFont{
    font-family: 'Bellota Text';
}

.inputEmailNew{
    text-align: center;
    outline: 0;
    width: 30vw;
    opacity: 0.8;
    height: 2vw;
    border-radius: 5px;
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.481), inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.terms{
    color: #582E29;
    font-weight: 600;
}

.enviarBtn{
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: #6c5452;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.481), inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}









/* TAMAÑO PC *//* TAMAÑO PC *//* TAMAÑO PC */
/* TAMAÑO PC *//* TAMAÑO PC *//* TAMAÑO PC */



@media only screen and (max-width: 1200px) {
}


/* TAMAÑO SMARTPHONES *//* TAMAÑO SMARTPHONES */
/* TAMAÑO SMARTPHONES *//* TAMAÑO SMARTPHONES */

/* INDEX *//* INDEX *//* INDEX */


@media only screen and (max-width: 575px) {
    .bkg {
      background-image: url(../Assets/Imagenes/Imagen\ 19.jpg);
    }

    .logo img{
        width: 30vw;
    }

    .icons{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .icons a img{
        width: 4vw;
    }
  


    /* HOME */ /* HOME */ /* HOME */
/* togglebutton */
body {
    background: #444;
  }
  
  #toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
  }
  
  #toggle div {
    width: 100%;
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  
  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #toggle.on .two {
    opacity: 0;
  }
  
  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
  #menu {
    color: white;
    border: 1px solid white;
    width: 150px;
    height: 100px;
    padding: 10px;
    border-radius: 3px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    line-height: 100px;
    text-align: center;
    margin: auto;
    display: none;
  }




    .containHome{
        background:url(../Assets/Imagenes/fondoPortada.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position-x: right;
        height: 100vh;
    
    }
    .logoPage img{
        width: 80vw;
        margin-top: 20vw;
    }
    .containService{
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .containService a{
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        margin: 10px 0px;
        text-align: center;
        z-index: 1;
        
    }

    .t1{
   
        font-weight: bold;
        font-size: 4vw;
    
    }

    .t2{
        padding:0 0 10px;
    }

    .t0{
        margin: 10px 0;
        font-size: 5vw;
    }

    /* NEWSLETTER */
    .newsletter{
    margin-top: 40px;
    background: linear-gradient(#ffffffd9, #ffffffd9), url(../Assets/Imagenes/M-J04305.jpg) no-repeat center center ;
    background-size: cover;
    height: 30vh;
    text-align: center;
}

.textNews{
    font-size: 5vw;
    font-family:900;
    padding: 20px 0;
}


.inputEmailNew{
    text-align: center;
    outline: 0;
    width: 90%;
    height:25px;
    opacity: 0.8;
    border-radius: 5px;
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.481), inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.terms{
    color: #582E29;
    font-weight: 600;
}

.enviarBtn{
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: #6c5452;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.481), inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

    
}