*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Bellota Text', cursive;
    font-family: 'Poiret One', cursive;
    --principalColor: #582E29;
}

  a:link, a:visited, a:active {
    text-decoration:none;
}


h1{
    font-size: 50px;
    color:var(--principalColor);
    font-family: 'Poiret One';
}

h2{
    font-size: 40px;
    color:var(--principalColor);
    font-family: 'Bellota Text';
    font-weight: 700;
}

p{
    font-size: 20px;
    font-family: 'Poiret One';
    color:var(--principalColor);
}


/* INDEX *//* INDEX *//* INDEX */
/* INDEX *//* INDEX *//* INDEX */
/* INDEX *//* INDEX *//* INDEX */

.bkg{
    background: url(../Assets/Imagenes/Imagen\ 19.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #464646;
    background-position-y: 35%;
    width: 100%;
    height: 100vh;
}

.logo {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 20vw;
}

.icons{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.icons a img{
    width: 3vh;
    margin: 30px 30px;
}




  /* HOME */ /* HOME */ /* HOME */
  /* HOME */ /* HOME */ /* HOME */
  /* HOME */ /* HOME */ /* HOME */

.containHome{
    background: url(../Assets/Imagenes/DSC_8364i238.jpg)no-repeat center center fixed;

  /*   opacity: 0.9; */
    background-size: cover;
    background-color: var(--principalColor);
    width: 100%;
    height: 100vh;
}

.navBar{
    background-color:rgba(255, 255, 255, 0.692);
    padding:0 4vw;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.logoNavBar{
    margin:5px 0;
}

.menuNavBar{
    display: inline;
}

.elementMenu{
    display:inline;
    font-weight: 400;
    padding: 0 20px;
    color:var(--principalColor);
    font-size: 20px;
    cursor: pointer;
}
    .elementMenu:hover{
        font-weight: 900;
    }

.elementColor{
    background-color: #582e29ce;
    color: white;
    border-radius: 10px;
    padding:5px 10px;
    font-weight: 700;
}
    .elementColor:hover{
        background-color: white;
        border: 1px solid var(--principalColor);
        border-radius: 10px;
        color: var(--principalColor);
    }

.logoPage{
    display: flex;
    justify-content: center;
}
.logoPage img{
    width: 20vw;
    margin-top: 12vw;
}

.containService{
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containService a{
    width: 30%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 30px;
    text-align: center;
}
    .containService a:hover{
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    }









/* TAMAÑO SMARTPHONES *//* TAMAÑO SMARTPHONES */
/* TAMAÑO SMARTPHONES *//* TAMAÑO SMARTPHONES */


/* INDEX *//* INDEX *//* INDEX */

@media only screen and (max-width: 575px) {
    .bkg {
      background-image: url(../Assets/Imagenes/Imagen\ 19.jpg);
    }

    .logo img{
        width: 30vw;
    }

    .icons{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .icons a img{
        width: 4vw;
    }
  


    /* HOME */ /* HOME */ /* HOME */
    .containHome{
        background: url(../Assets/Imagenes/DSC_8201i238.jpg) no-repeat center center;
        background-size: cover;
    
    }
    .logoPage img{
        width: 80vw;
        margin-top: 10vw;
    }
}