*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

/* INDEX */

.portada{
    background: url(./Assets/Imagenes/Imagen\ 19.jpg) no-repeat center;
    background-size: cover;
    background-position-y: -60vh;
    width: 100%;
    height: 100vh;
}

.logo {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 20vh;
}

.icons{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
}

.icons a{
    width: 3em;

    margin: 30px 1px;

}